.dropdown-container {
    text-align: left;
    border: 1px solid #E6E6FA;
    position: relative;
    border-radius: 4px;
    margin: 0.3rem auto;
    width: 40%;
}

.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    max-height: 0;
    background-color: #E6E6FA;
    color: black;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.dropdown-menu.show {
    max-height: 150px;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #9fc3f870;
}

.dropdown-item.selected {
    background-color: #3d63cb;
    color: #E6E6FA;
}

.dropdown-selected-value.placeholder {
    color: #999999;
}