.div_streamers_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_streamers_table_container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main_h1_streamers {
  margin-bottom: 2rem;
}

.h2_streamers {
  margin-top: 20px;
  margin-bottom: 20px;
}

.react_icon_logo {
  vertical-align: -4px;
  margin-right: 5px;
}

.streamers_table {
  width: 100%;
  max-width: 1030px;
}

.icon_modal_alert {
  margin: 0 auto;
  font-size: 70px;
}

.div_streamer_input_group {
  height: 155px;
  min-height: 155px;
  vertical-align: top;
}

.div_streamer_input_group td {
  padding-top: 25px;
}
