a {
    color: #3d63cb;
    text-decoration: none;
}

.div_streamer_record {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    padding: 20px;
}

.streamer_record_container {
    width: 600px;
    background-image: linear-gradient(200deg, #3d63cb, #6b32ac);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.streamer_info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.streamer_info .description {
    flex: 1;
    max-width: 400px;
    overflow: hidden;
    word-wrap: break-word;
    color: #E6E6FA;
}

.one_streamer_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.one_streamer_table th,
.one_streamer_table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.one_streamer_table th {
    font-weight: bold;
    color: #E6E6FA;
}

.one_streamer_table td {
    color: #E6E6FA;
}

.button_container {
    display: flex;
    justify-content: center;
    width: 13%;
    margin-top: 20px;
}

.streamer_record_container {
    position: relative;
}

.streamer_name {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #E6E6FA;
    font-size: 18px;
    font-weight: bold;
}