.div_streamers_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main_h1_streamers {
  margin-bottom: 2rem;
}

.h2_streamers {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div_streamers_table_container {
  width: 60%;
}

.react_icon_logo {
  vertical-align: -4px;
  margin-right: 5px;
}

.streamers_table {
  border-collapse: collapse;
}

.icon_modal_alert {
  margin: 0 auto;
  font-size: 70px;
}
