.custom_modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: 23vh auto 2vh;
  padding: 60px 50px;
  width: 30%;
  background-image: linear-gradient(200deg, #3e3e9c, #6b32ac);
  font-size: 16px;
  border-radius: 5px;
}

.custom_modal button {
  font-family: "Ubuntu", sans-serif;
  margin-top: 5vh;
  font-size: 14px;
  width: 30%;
}

.custom_modal h2 {
  margin-bottom: 5vh;
  font-size: 16px;
}

.ReactModal__Overlay {
  transform: translateX(-100vw);
  transition: all 1200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  transform: translateX(100vw);
}
