.input_streamer_name,
.input_streaming_platform,
.textarea_streamer_description {
  font-family: "Montserrat", sans-serif;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e6e6fa;
}

.textarea_streamer_description {
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  max-width: 500px;
  min-width: 500px;
  resize: none;
}

input:focus {
  outline: transparent;
}

.td_streamer_name,
.td_streaming_platform,
.td_streamer_description {
  width: 330px;
}

.center_text {
  text-align: center;
}

.h2_streamer_name {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.td_streamer_description button {
  width: 120px;
}

.larger_font {
  font-size: 18px;
}

.error {
  color: #d15a5a;
}

.error-message {
  color: #d15a5a;
}

.div_last_td_container,
.additional_td {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 160px;
}

.additional_td {
  margin-top: 2px;
  font-weight: bold;
  font-size: 18px;
  height: 77px;
}

.button_add_streamer {
  margin-top: -5px;
}

.input_wrapper {
  position: relative;
  width: 100%;
}

.input_streamer_name {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 0.3rem;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e6e6fa;
}

.input_streamer_name:focus {
  outline: transparent;
}

.error-message {
  color: #d15a5a;
  position: absolute;
  bottom: -20px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-message-description {
  color: #d15a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 61.5%;
  transform: translateY(-50%);
}